* {
    box-sizing: border-box;
    padding: 0;
    margin: 0;
    
}

/* Navigation section*/
.nav {
    display: flex;
    justify-content: space-between;
    align-items: center;
    border-top:2px solid #023a21 ;
    border-bottom: 2px solid #023a21;
    margin: 5px;
    padding: 12px;
    overflow: hidden;
}


.logo {
    font-size: 1.3em;
    font-weight: bold;
    border-bottom: 3px solid gold;
    font-family: system-ui, -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
}


.list-links ul {
    display: flex;
    gap: 70px;
    list-style-type: none;
    overflow: hidden;
}

.list-links li > a {
    text-decoration: none;
    font-size: 1.3em;
    font-weight: bold;
    font-family: system-ui, -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
    color: black;
    cursor: pointer;
}

.list-links a:hover {
    color: gold;
}

.list-links a:active {
    opacity: .5;
}
/* End of Navigation*/

/* Introduction section */

.intro {
    border: none;
    display: flex;
    justify-content: space-around;
    min-height: 500px;
    margin: 50px 0;
    padding: 50px;
    gap: 32px;
}

.left-heading {
    flex-grow: 1;
    box-shadow: 5px 5px 5px 3px gray;
    display: flex;
    flex-direction: column;
    justify-content: center;
}

.heading {
    padding: 5px 35px;
    font-family: system-ui, -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
    font-size: 1.2em;
}

.content {
    padding: 5px 35px;
    font-family: PT Sans;
    line-height: 28px;
    font-size: 1.2em;
}

.content button {
    font-size: 1.1em;
    padding: 5px 25px;
    border-radius: 12px;
    cursor: pointer;
    font-family: Roboto mono;
    margin-top: 15px;
    background-color:#023a21;
    color: gold;
    font-weight: bold;
    box-shadow: 5px 5px 3px rgba(128, 128, 128, 0.308);
    transition: background-color .4s, color .4s;
}

.content button:hover {
    background-color: gold;
    color: #023a21;
}

.content button:active {
    opacity: .5;
}

.right-heading {
    flex-shrink: 0;
    display: flex;
    align-items: center;
    justify-content: center;
    border: 3px transparent;
    box-shadow: 5px 5px 5px 3px gray;
    width: 400px;


   
}

.right-heading img {
    height: auto;
    max-width: 100%;
    border: 3px double black;
    box-shadow: 3px 3px 3px  rgba(128, 128, 128, 0.322);
}
/* End of Introduction*/

/* Horizontal Line style*/

.line{
    border: 3px groove gold;
    margin: 0 50px;
}
.two-separate-line  {
    display: flex;
    justify-content: space-between;
    margin: 25px 0;
}

.two-separate-line hr {
    border: 3px groove gold;
    width: 300px;

}

/* List of projects section */

.main-project {
    min-height: 500px;
    margin-bottom: 50px;
}

.main-project-heading {
    text-align: center;
    font-family: system-ui, -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
    letter-spacing: 4px;
    text-shadow: 3px 3px 2px rgba(128, 128, 128, 0.288);
    margin: 30px;
    font-size: 1.3em;
}

.project-list {
    display: flex;
    justify-content: space-around;
    align-items: stretch;
    min-height: 400px;
    margin: 5px;
}

.project-list div {
    flex-basis: 250px;
    border: 5px groove gold;
    padding: 5px 5px 0 5px;
    flex-wrap: wrap;
}

.project-list img {
    height: 385px;
    width: 250px;
}

/*About myself section*/

.main-about {
    margin: 0;
    padding: 0;
    display: flex;
    justify-content: space-around;
    flex-direction: row;
    border: none;
    height: 800px;

}

.about-myself-heading {
    text-align: center;
    font-family: system-ui, -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
    letter-spacing: 4px;
    text-shadow: 3px 3px 2px rgba(128, 128, 128, 0.288);
    margin: 20px 0 ;
    font-size: 1.2em;
}

.about-myself {
    display: flex;
    flex-direction: column;
    border: 3px transparent; 
    box-shadow: 5px 5px 5px 3px gray;
    margin: 25px 10px 130px 120px;
}

.about-content-text {
    padding: 85px;
    flex-basis: 300px;
    font-size: 1.2em;
    word-spacing: 2px;
    line-height: 35px;
    font-family: PT Sans;
}

.skill-set {
    margin: 0;
    padding: 0;
}

.skill-header {
    text-align: center;
    font-family: system-ui, -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
    letter-spacing: 4px;
    text-shadow: 3px 3px 2px rgba(128, 128, 128, 0.288);
    margin: 20px 0 ;
    font-size: 1.2em;
}

.skill-logo-container {
    display: flex;
    justify-content: space-evenly;
    flex-wrap: wrap;
}

.skill-logo-container img {
    height: auto;
    width: 120px;
    opacity: .7;
}


.profile {
    flex-basis: 300px;
    padding: 25px;
    border: 1px solid black;
    margin: 25px 150px 130px 0;
    border: 3px transparent; 
    box-shadow: 5px 5px 5px 3px gray;
}


.profile img {
    border: 2px double black;
    margin: 0;
    padding: 0;
    max-width: 100%;
    max-height: 100%;
}

/* Contact Section*/

.main-contact {
    margin-top: 30px;

}

.contact-heading {
    
    text-align: center;
    font-family: system-ui, -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
    letter-spacing: 4px;
    text-shadow: 3px 3px 2px rgba(128, 128, 128, 0.288);
    margin: 0 0 15px 0;
    font-size: 1.3em;
}

.contact {
    display: flex;
    flex-direction: row wrap;
    justify-content: space-around;
    gap: 15px;
    max-height: 500px;
    margin: 50px;
}

.contact-fillup {
    flex:2;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    background-image: url(image/bg-form.png);
    background-repeat: no-repeat;
    background-size: cover;
    border: 5px transparent ;
    box-shadow: -5px 5px 3px black;
}

.contact-fillup  form {
    padding: 40px;
}

input[type]  {
    width: 30%;
    border: none;
    padding: 8px 12px;
    border-bottom: 2px solid black;
    background-color: white;
    border-radius: 10px 20px;
    box-shadow: 3px 3px 5px rgba(0, 0, 0, 0.39);
    transition: background-color .35s, color .35s;
} 


input[type="tel"] {
    width: 22%;
}


input[type]::placeholder, textarea[cols]::placeholder {
    color: gray; /* Placeholder text color when hovering */
}

input[type]:hover::placeholder, textarea[cols]:hover::placeholder {
    color: white; /* Placeholder color on hover */
}


input[type]:hover {
background-color: #0078A6;
color:white;

}



textarea[cols] {
    box-sizing: border-box;
    border: none;
    padding: 8px 12px;
    background-color: white;
    border-radius: 10px 20px;
    box-shadow: 3px 3px 5px rgba(0, 0, 0, 0.39);
    transition: background-color .35s, color .35s;

}
textarea[cols]:hover {
    background-color: #0078A6;
    color:white;   
}

.contact-form label {
    font-family: rubik;
    font-size: 0.9em;
    color:  #f4fdff;
}

input[type="submit"] {
    width: 25%;
    border: none;
    padding: 8px 12px;
    border-bottom: 2px solid black;
    background-color: white;
    border-radius: 10px 20px;
    box-shadow: 3px 3px 5px rgba(0, 0, 0, 0.39);
    transition: background-color .35s, color .35s;
    margin-left: 490px;
} 


.contact-information {
    display: flex;
    flex-direction: column;
    justify-content: space-around;
    border: 1px solid black;
    background-image: url(image/bg-info.png);
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
    border: 5px transparent ;
    box-shadow: -5px 5px 3px black;
}

.contact-information-heading, .contact-fillup-heading {
    text-align: center;
    font-size: 1.4em;
    padding: 8px;
    font-family: Roboto mono;
    text-shadow: 3px 3px 3px rgba(14, 3, 3, 0.295);
    
}

 .email,  .phone,  .location {
    font-size: 1.1em;
    padding: 5px 10px 5px 25px;
    margin-top: 40px;
    margin-left: 5px;
}

.social-media {
    height: 280px;
    display: flex;
    justify-content: center;
    align-items: flex-end;
    gap: 55px;
}

.social-media a > ion-icon{
    color:#011E11;
    font-size: 25px;
}

.social-media a:hover > ion-icon {
    color: white;
    font-size: 30px ;
  }


.main-contact-bot-right-line {
    margin-right: 1350px;
    border: 3px groove gold;
}

.main-contact-bot-left-line {
    margin-left: 1350px;
    border: 3px groove gold;
}

/* Footer section*/

.footer {
    margin: 0;
    padding: 0;
    display: flex;
    justify-content: center;
    align-items: center;
    height: 50px;
}

.copyright {
    font-size: 1.2em;
    font-weight: 500;
    font-family: system-ui, -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
}

